.navigationFooter {
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    padding: 0 100px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.listItem {
    height: min-content;
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        img {
            transition: ease .5s; /* vendorless fallback */

            &:hover {
                box-shadow: 20px 20px 40px rgba(247, 142, 21, 0.541);
                margin: 0;
                transition: ease .5s; /* vendorless fallback */        
            }
        }

    }

    img {
        transition: .5s;
        max-width: 200px;
    }

    h1 {
        font-family: Gloria Hallelujah;
    }
}

.disabled {
    background-color: grey;

    &:hover {
        box-shadow: none;
        margin: 0;
        transition: ease .5s; /* vendorless fallback */      
    }
}

.selected {
    img {
        border: 4px dashed orange;
        transition: .5s;
    }

}

.disabledLink {
    pointer-events: none;
    
    a {
        pointer-events: none;
    }
  }