.fullPage {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 106px;
      }

    .heading {
        margin-top: 50px;
        font-family: Itim;
        font-size: 6em;
    }

    .box {
        // &:hover a:hover {
        //     img {
        //         opacity: 1;
        //     }
        //   }
        
        // &:hover a:not(:hover) {
        //     opacity: 0.3;
        //     img {
        //         opacity:0.3;
        //     }
        // }
        .row {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            a {
                text-decoration: none;
            }

            .listItem {
                height: min-content;
                margin: 50px 50px 0px 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // &:hover {
                //     animation: float 1s;
                // }

                // transition: margin-bottom 1s;

                img {
                    max-width: 200px;
                }

                h1 {
                    font-family: Gloria Hallelujah;
                }
            }
        }
    }
}

// @keyframes float {
//     from {
//         // margin-top: 50px;
//         // width: 100%; 
//     }
  
//     to {
//         // position: absolute;
//         // display: inline-table;
//         // margin-top: 100px;
//         margin-bottom: 30px;
//         // padding: px;
//         // max-width: 300px;
//         // width: 150%;
//         // height: 150%
//     }
//   }

