.nav {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 24px 24px;
    background-color: white;
    border: black 1px solid;
    display: flex;
    justify-content: space-between;

    .active {
        border-bottom: 2px solid orange;
    }
}
