.fullPage {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 106px;
      }

    .heading {
        font-family: Gloria Hallelujah;
        margin-top: 30px;
        text-align: center;
        font-size: 4em;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;

        .listItem {
            height: min-content;
            margin: 50px 50px 0px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                img {
                    transition: ease .5s; /* vendorless fallback */

                    &:hover {
                        box-shadow: 20px 20px 40px rgba(247, 142, 21, 0.541);
                        margin: 0;
                        transition: ease .5s; /* vendorless fallback */        
                    }
                }
        
            }
        
            img {
                transition: .5s;
                max-width: 200px;
            }

            img {
                max-width: 200px;
                transition: .4s;
                cursor: pointer;
            }

            h1 {
                font-family: Gloria Hallelujah;
            }
        }
    }
}

.navigationFooter {
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    padding: 0 100px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.disabled {
    background-color: grey;

    &:hover {
        box-shadow: none;
        margin: 0;
        transition: ease .5s; /* vendorless fallback */      
    }
}

.padding {
    height: 200px;
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

    a {
        margin: 20px;
    }
}